In [1]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt

## Data Collection ##

In [5]:
data1 = pd.read_csv('Austin_Animal_Center_Intakes.csv')
data2 = pd.read_csv('Austin_Animal_Center_Outcomes.csv')

data = pd.merge(data1, data2, on='Animal ID', how='inner')
print(data.head())

  Animal ID   Name_x              DateTime_x   MonthYear_x  \
0   A786884   *Brock  01/03/2019 04:19:00 PM  January 2019
1   A706918    Belle  07/05/2015 12:59:00 PM     July 2015
2   A724273  Runster  04/14/2016 06:43:00 PM    April 2016
3   A665644      NaN  10/21/2013 07:59:00 AM  October 2013
4   A682524      Rio  06/29/2014 10:38:00 AM     June 2014

                        Found Location Intake Type Intake Condition  \
0  2501 Magin Meadow Dr in Austin (TX)       Stray           Normal
1     9409 Bluegrass Dr in Austin (TX)       Stray           Normal
2   2818 Palomino Trail in Austin (TX)       Stray           Normal
3                          Austin (TX)       Stray             Sick
4        800 Grove Blvd in Austin (TX)       Stray           Normal

  Animal Type_x Sex upon Intake Age upon Intake  ...              DateTime_y  \
0           Dog   Neutered Male         2 years  ...  01/08/2019 03:11:00 PM
1           Dog   Spayed Female         8 years  ...  07/05/2015 03:13:00 PM
2           Dog     Intact Male       11 months  ...  04/21/2016 05:17:00 PM
3           Cat   Intact Female         4 weeks  ...  10/21/2013 11:39:00 AM
4           Dog   Neutered Male         4 years  ...  07/02/2014 02:16:00 PM

  MonthYear_y Date of Birth     Outcome Type Outcome Subtype Animal Type_y  \
0    Jan 2019    01/03/2017         Transfer         Partner           Dog
1    Jul 2015    07/05/2007  Return to Owner             NaN           Dog
2    Apr 2016    04/17/2015  Return to Owner             NaN           Dog
3    Oct 2013    09/21/2013         Transfer         Partner           Cat
4    Jul 2014    06/29/2010  Return to Owner             NaN           Dog

  Sex upon Outcome Age upon Outcome                                Breed_y  \
0    Neutered Male          2 years                             Beagle Mix
1    Spayed Female          8 years               English Springer Spaniel
2    Neutered Male           1 year                            Basenji Mix
3    Intact Female          4 weeks                 Domestic Shorthair Mix
4    Neutered Male          4 years  Doberman Pinsch/Australian Cattle Dog

       Color_y
0     Tricolor
1  White/Liver
2  Sable/White
3       Calico
4     Tan/Gray

[5 rows x 23 columns]

## Data Cleaning ##
Remove data point with any empty colomns

In [6]:
data = data.dropna()

## Feature Selection ##