In [2]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt

## Data Collection ##

In [3]:
data1 = pd.read_csv('Austin_Animal_Center_Intakes.csv')
data2 = pd.read_csv('Austin_Animal_Center_Outcomes.csv')

data = pd.merge(data1, data2, on='Animal ID', how='inner')
print(data.columns)

Index(['Animal ID', 'Name_x', 'DateTime_x', 'MonthYear_x', 'Found Location',
       'Intake Type', 'Intake Condition', 'Animal Type_x', 'Sex upon Intake',
       'Age upon Intake', 'Breed_x', 'Color_x', 'Name_y', 'DateTime_y',
       'MonthYear_y', 'Date of Birth', 'Outcome Type', 'Outcome Subtype',
       'Animal Type_y', 'Sex upon Outcome', 'Age upon Outcome', 'Breed_y',
       'Color_y'],
      dtype='object')

## Feature Selection ##

In [4]:
data = data.drop(columns=['Name_x','MonthYear_x','MonthYear_y','Found Location','Name_y','Animal Type_y','Color_y','Breed_y','Outcome Subtype','Date of Birth'])
print(data.head())
data.shape

  Animal ID              DateTime_x Intake Type Intake Condition  \
0   A786884  01/03/2019 04:19:00 PM       Stray           Normal
1   A706918  07/05/2015 12:59:00 PM       Stray           Normal
2   A724273  04/14/2016 06:43:00 PM       Stray           Normal
3   A665644  10/21/2013 07:59:00 AM       Stray             Sick
4   A682524  06/29/2014 10:38:00 AM       Stray           Normal

  Animal Type_x Sex upon Intake Age upon Intake  \
0           Dog   Neutered Male         2 years
1           Dog   Spayed Female         8 years
2           Dog     Intact Male       11 months
3           Cat   Intact Female         4 weeks
4           Dog   Neutered Male         4 years

                                 Breed_x      Color_x              DateTime_y  \
0                             Beagle Mix     Tricolor  01/08/2019 03:11:00 PM
1               English Springer Spaniel  White/Liver  07/05/2015 03:13:00 PM
2                            Basenji Mix  Sable/White  04/21/2016 05:17:00 PM
3                 Domestic Shorthair Mix       Calico  10/21/2013 11:39:00 AM
4  Doberman Pinsch/Australian Cattle Dog     Tan/Gray  07/02/2014 02:16:00 PM

      Outcome Type Sex upon Outcome Age upon Outcome
0         Transfer    Neutered Male          2 years
1  Return to Owner    Spayed Female          8 years
2  Return to Owner    Neutered Male           1 year
3         Transfer    Intact Female          4 weeks
4  Return to Owner    Neutered Male          4 years

(178310, 13)

## Data Cleaning ##

In [5]:
data = data.dropna()
data.drop_duplicates(subset='Animal ID', keep = False, inplace = True)
print(data)

       Animal ID              DateTime_x Intake Type Intake Condition  \
0        A786884  01/03/2019 04:19:00 PM       Stray           Normal
1        A706918  07/05/2015 12:59:00 PM       Stray           Normal
2        A724273  04/14/2016 06:43:00 PM       Stray           Normal
3        A665644  10/21/2013 07:59:00 AM       Stray             Sick
4        A682524  06/29/2014 10:38:00 AM       Stray           Normal
...          ...                     ...         ...              ...
178299   A851458  02/12/2022 04:31:00 PM       Stray           Normal
178300   A851391  02/11/2022 11:19:00 AM       Stray           Normal
178301   A852148  02/25/2022 04:22:00 PM       Stray           Normal
178302   A850397  01/24/2022 08:00:00 AM       Stray          Injured
178303   A851459  02/12/2022 04:31:00 PM       Stray           Normal

       Animal Type_x Sex upon Intake Age upon Intake  \
0                Dog   Neutered Male         2 years
1                Dog   Spayed Female         8 years
2                Dog     Intact Male       11 months
3                Cat   Intact Female         4 weeks
4                Dog   Neutered Male         4 years
...              ...             ...             ...
178299           Dog   Intact Female         5 years
178300           Dog     Intact Male         7 years
178301           Dog     Intact Male         2 years
178302           Dog     Intact Male         2 years
178303           Dog     Intact Male         2 years

                                      Breed_x      Color_x  \
0                                  Beagle Mix     Tricolor
1                    English Springer Spaniel  White/Liver
2                                 Basenji Mix  Sable/White
3                      Domestic Shorthair Mix       Calico
4       Doberman Pinsch/Australian Cattle Dog     Tan/Gray
...                                       ...          ...
178299                   Miniature Poodle Mix   Gray/White
178300                               Shih Tzu   White/Gray
178301              Shih Tzu/Miniature Poodle  Black/White
178302               Cairn Terrier/Lhasa Apso        Cream
178303    Dachshund Longhair/Miniature Poodle  Cream/Brown

                    DateTime_y     Outcome Type Sex upon Outcome  \
0       01/08/2019 03:11:00 PM         Transfer    Neutered Male
1       07/05/2015 03:13:00 PM  Return to Owner    Spayed Female
2       04/21/2016 05:17:00 PM  Return to Owner    Neutered Male
3       10/21/2013 11:39:00 AM         Transfer    Intact Female
4       07/02/2014 02:16:00 PM  Return to Owner    Neutered Male
...                        ...              ...              ...
178299  02/16/2022 10:15:00 AM         Transfer    Intact Female
178300  02/15/2022 10:34:00 AM         Transfer      Intact Male
178301  03/02/2022 08:53:00 AM         Transfer    Neutered Male
178302  02/18/2022 10:10:00 AM         Transfer      Intact Male
178303  02/16/2022 10:16:00 AM         Transfer      Intact Male

       Age upon Outcome
0               2 years
1               8 years
2                1 year
3               4 weeks
4               4 years
...                 ...
178299          5 years
178300          7 years
178301          2 years
178302          2 years
178303          2 years

[111577 rows x 13 columns]

In [6]:
for i in range(len(data)):
    age = str(data.iloc[i,6])
    age2 = str(data.iloc[i,12])
    age = age.split()
    age2 = age2.split()
    if len(age2) < 2 or len(age) < 2:
        data.drop(i)
        continue
    if (age[1] == 'years' or age[1] == 'year'):
        data.iloc[i,6] = int(age[0]) * 52
    elif (age[1] == 'months' or age[1] == 'month'):
        data.iloc[i,6] = int(age[0]) * 4
    else:
        data.iloc[i,6] = int(age[0])

    if (age2[1] == 'years' or age2[1] == 'year'):
        data.iloc[i,12] = int(age2[0]) * 52
    elif (age2[1] == 'months' or age2[1] == 'month'):
        data.iloc[i,12] = int(age2[0]) * 4
    else:
        data.iloc[i,12] = int(age2[0])

#print(data.head())

       Animal ID              DateTime_x    Intake Type Intake Condition  \
0        A786884  01/03/2019 04:19:00 PM          Stray           Normal
1        A706918  07/05/2015 12:59:00 PM          Stray           Normal
2        A724273  04/14/2016 06:43:00 PM          Stray           Normal
3        A665644  10/21/2013 07:59:00 AM          Stray             Sick
4        A682524  06/29/2014 10:38:00 AM          Stray           Normal
...          ...                     ...            ...              ...
178305   A672109  09/28/2016 06:25:00 PM  Public Assist           Normal
178306   A672109  02/04/2014 12:25:00 PM          Stray           Normal
178307   A672109  02/04/2014 12:25:00 PM          Stray           Normal
178308   A845912  11/06/2021 03:15:00 PM          Stray         Neonatal
178309   A845912  04/13/2022 01:47:00 PM          Stray           Normal

       Animal Type_x Sex upon Intake Age upon Intake  \
0                Dog   Neutered Male             104
1                Dog   Spayed Female             416
2                Dog     Intact Male              44
3                Cat   Intact Female               4
4                Dog   Neutered Male             208
...              ...             ...             ...
178305           Dog   Neutered Male             208
178306           Dog     Intact Male             104
178307           Dog     Intact Male             104
178308           Dog     Intact Male              24
178309           Dog   Neutered Male              44

                                      Breed_x        Color_x  \
0                                  Beagle Mix       Tricolor
1                    English Springer Spaniel    White/Liver
2                                 Basenji Mix    Sable/White
3                      Domestic Shorthair Mix         Calico
4       Doberman Pinsch/Australian Cattle Dog       Tan/Gray
...                                       ...            ...
178305                           Pit Bull Mix  Brown Brindle
178306                           Pit Bull Mix  Brown Brindle
178307                           Pit Bull Mix  Brown Brindle
178308     Labrador Retriever/Chinese Sharpei    Brown/Brown
178309     Labrador Retriever/Chinese Sharpei    Brown/Brown

                    DateTime_y     Outcome Type Sex upon Outcome  \
0       01/08/2019 03:11:00 PM         Transfer    Neutered Male
1       07/05/2015 03:13:00 PM  Return to Owner    Spayed Female
2       04/21/2016 05:17:00 PM  Return to Owner    Neutered Male
3       10/21/2013 11:39:00 AM         Transfer    Intact Female
4       07/02/2014 02:16:00 PM  Return to Owner    Neutered Male
...                        ...              ...              ...
178305  03/09/2014 02:49:00 PM         Adoption    Neutered Male
178306  10/07/2016 11:33:00 AM  Return to Owner    Neutered Male
178307  03/09/2014 02:49:00 PM         Adoption    Neutered Male
178308  11/15/2021 05:35:00 PM         Adoption    Neutered Male
178309  11/15/2021 05:35:00 PM         Adoption    Neutered Male

       Age upon Outcome
0                   104
1                   416
2                    52
3                     4
4                   208
...                 ...
178305              104
178306              208
178307              104
178308               24
178309               24

[178272 rows x 13 columns]

In [7]:
data = data.loc[(data["DateTime_y"] > data["DateTime_x"])]
data.shape
print(data)

       Animal ID              DateTime_x      Intake Type Intake Condition  \
0        A786884  01/03/2019 04:19:00 PM            Stray           Normal
2        A724273  04/14/2016 06:43:00 PM            Stray           Normal
3        A665644  10/21/2013 07:59:00 AM            Stray             Sick
4        A682524  06/29/2014 10:38:00 AM            Stray           Normal
5        A743852  02/18/2017 12:46:00 PM  Owner Surrender           Normal
...          ...                     ...              ...              ...
178299   A851458  02/12/2022 04:31:00 PM            Stray           Normal
178300   A851391  02/11/2022 11:19:00 AM            Stray           Normal
178301   A852148  02/25/2022 04:22:00 PM            Stray           Normal
178302   A850397  01/24/2022 08:00:00 AM            Stray          Injured
178303   A851459  02/12/2022 04:31:00 PM            Stray           Normal

       Animal Type_x Sex upon Intake Age upon Intake  \
0                Dog   Neutered Male             104
2                Dog     Intact Male              44
3                Cat   Intact Female               4
4                Dog   Neutered Male             208
5                Dog   Neutered Male             104
...              ...             ...             ...
178299           Dog   Intact Female             260
178300           Dog     Intact Male             364
178301           Dog     Intact Male             104
178302           Dog     Intact Male             104
178303           Dog     Intact Male             104

                                      Breed_x      Color_x  \
0                                  Beagle Mix     Tricolor
2                                 Basenji Mix  Sable/White
3                      Domestic Shorthair Mix       Calico
4       Doberman Pinsch/Australian Cattle Dog     Tan/Gray
5                      Labrador Retriever Mix    Chocolate
...                                       ...          ...
178299                   Miniature Poodle Mix   Gray/White
178300                               Shih Tzu   White/Gray
178301              Shih Tzu/Miniature Poodle  Black/White
178302               Cairn Terrier/Lhasa Apso        Cream
178303    Dachshund Longhair/Miniature Poodle  Cream/Brown

                    DateTime_y     Outcome Type Sex upon Outcome  \
0       01/08/2019 03:11:00 PM         Transfer    Neutered Male
2       04/21/2016 05:17:00 PM  Return to Owner    Neutered Male
3       10/21/2013 11:39:00 AM         Transfer    Intact Female
4       07/02/2014 02:16:00 PM  Return to Owner    Neutered Male
5       02/21/2017 05:44:00 PM  Return to Owner    Neutered Male
...                        ...              ...              ...
178299  02/16/2022 10:15:00 AM         Transfer    Intact Female
178300  02/15/2022 10:34:00 AM         Transfer      Intact Male
178301  03/02/2022 08:53:00 AM         Transfer    Neutered Male
178302  02/18/2022 10:10:00 AM         Transfer      Intact Male
178303  02/16/2022 10:16:00 AM         Transfer      Intact Male

       Age upon Outcome
0                   104
2                    52
3                     4
4                   208
5                   104
...                 ...
178299              260
178300              364
178301              104
178302              104
178303              104

[101755 rows x 13 columns]

(102555, 13)