In [8]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt

## Data Collection ##

In [9]:
data1 = pd.read_csv('Austin_Animal_Center_Intakes.csv')
data2 = pd.read_csv('Austin_Animal_Center_Outcomes.csv')

data = pd.merge(data1, data2, on='Animal ID', how='inner')
print(data.columns)

Index(['Animal ID', 'Name_x', 'DateTime_x', 'MonthYear_x', 'Found Location',
       'Intake Type', 'Intake Condition', 'Animal Type_x', 'Sex upon Intake',
       'Age upon Intake', 'Breed_x', 'Color_x', 'Name_y', 'DateTime_y',
       'MonthYear_y', 'Date of Birth', 'Outcome Type', 'Outcome Subtype',
       'Animal Type_y', 'Sex upon Outcome', 'Age upon Outcome', 'Breed_y',
       'Color_y'],
      dtype='object')

## Feature Selection ##

In [10]:
data = data.drop(columns=['Name_x','MonthYear_x','MonthYear_y','Found Location','Name_y','Animal Type_y','Color_y','Breed_y','Outcome Subtype','Date of Birth'])
print(data.head())
data.shape

  Animal ID              DateTime_x Intake Type Intake Condition  \
0   A786884  01/03/2019 04:19:00 PM       Stray           Normal
1   A706918  07/05/2015 12:59:00 PM       Stray           Normal
2   A724273  04/14/2016 06:43:00 PM       Stray           Normal
3   A665644  10/21/2013 07:59:00 AM       Stray             Sick
4   A682524  06/29/2014 10:38:00 AM       Stray           Normal

  Animal Type_x Sex upon Intake Age upon Intake  \
0           Dog   Neutered Male         2 years
1           Dog   Spayed Female         8 years
2           Dog     Intact Male       11 months
3           Cat   Intact Female         4 weeks
4           Dog   Neutered Male         4 years

                                 Breed_x      Color_x              DateTime_y  \
0                             Beagle Mix     Tricolor  01/08/2019 03:11:00 PM
1               English Springer Spaniel  White/Liver  07/05/2015 03:13:00 PM
2                            Basenji Mix  Sable/White  04/21/2016 05:17:00 PM
3                 Domestic Shorthair Mix       Calico  10/21/2013 11:39:00 AM
4  Doberman Pinsch/Australian Cattle Dog     Tan/Gray  07/02/2014 02:16:00 PM

      Outcome Type Sex upon Outcome Age upon Outcome
0         Transfer    Neutered Male          2 years
1  Return to Owner    Spayed Female          8 years
2  Return to Owner    Neutered Male           1 year
3         Transfer    Intact Female          4 weeks
4  Return to Owner    Neutered Male          4 years

(178310, 13)

## Data Cleaning ##

In [11]:
data = data.dropna()
data.drop_duplicates(subset='Animal ID', keep = False, inplace = True)
print(data)

       Animal ID              DateTime_x Intake Type Intake Condition  \
0        A786884  01/03/2019 04:19:00 PM       Stray           Normal
1        A706918  07/05/2015 12:59:00 PM       Stray           Normal
2        A724273  04/14/2016 06:43:00 PM       Stray           Normal
3        A665644  10/21/2013 07:59:00 AM       Stray             Sick
4        A682524  06/29/2014 10:38:00 AM       Stray           Normal
...          ...                     ...         ...              ...
178299   A851458  02/12/2022 04:31:00 PM       Stray           Normal
178300   A851391  02/11/2022 11:19:00 AM       Stray           Normal
178301   A852148  02/25/2022 04:22:00 PM       Stray           Normal
178302   A850397  01/24/2022 08:00:00 AM       Stray          Injured
178303   A851459  02/12/2022 04:31:00 PM       Stray           Normal

       Animal Type_x Sex upon Intake Age upon Intake  \
0                Dog   Neutered Male         2 years
1                Dog   Spayed Female         8 years
2                Dog     Intact Male       11 months
3                Cat   Intact Female         4 weeks
4                Dog   Neutered Male         4 years
...              ...             ...             ...
178299           Dog   Intact Female         5 years
178300           Dog     Intact Male         7 years
178301           Dog     Intact Male         2 years
178302           Dog     Intact Male         2 years
178303           Dog     Intact Male         2 years

                                      Breed_x      Color_x  \
0                                  Beagle Mix     Tricolor
1                    English Springer Spaniel  White/Liver
2                                 Basenji Mix  Sable/White
3                      Domestic Shorthair Mix       Calico
4       Doberman Pinsch/Australian Cattle Dog     Tan/Gray
...                                       ...          ...
178299                   Miniature Poodle Mix   Gray/White
178300                               Shih Tzu   White/Gray
178301              Shih Tzu/Miniature Poodle  Black/White
178302               Cairn Terrier/Lhasa Apso        Cream
178303    Dachshund Longhair/Miniature Poodle  Cream/Brown

                    DateTime_y     Outcome Type Sex upon Outcome  \
0       01/08/2019 03:11:00 PM         Transfer    Neutered Male
1       07/05/2015 03:13:00 PM  Return to Owner    Spayed Female
2       04/21/2016 05:17:00 PM  Return to Owner    Neutered Male
3       10/21/2013 11:39:00 AM         Transfer    Intact Female
4       07/02/2014 02:16:00 PM  Return to Owner    Neutered Male
...                        ...              ...              ...
178299  02/16/2022 10:15:00 AM         Transfer    Intact Female
178300  02/15/2022 10:34:00 AM         Transfer      Intact Male
178301  03/02/2022 08:53:00 AM         Transfer    Neutered Male
178302  02/18/2022 10:10:00 AM         Transfer      Intact Male
178303  02/16/2022 10:16:00 AM         Transfer      Intact Male

       Age upon Outcome
0               2 years
1               8 years
2                1 year
3               4 weeks
4               4 years
...                 ...
178299          5 years
178300          7 years
178301          2 years
178302          2 years
178303          2 years

[111577 rows x 13 columns]

In [12]:
for i in range(len(data)):
    age = str(data.iloc[i,6])
    age2 = str(data.iloc[i,12])
    age = age.split()
    age2 = age2.split()
    if len(age2) < 2 or len(age) < 2:
        data.drop(i)
        continue
    if (age[1] == 'years' or age[1] == 'year'):
        data.iloc[i,6] = int(age[0]) * 52
    elif (age[1] == 'months' or age[1] == 'month'):
        data.iloc[i,6] = int(age[0]) * 4
    else:
        data.iloc[i,6] = int(age[0])

    if (age2[1] == 'years' or age2[1] == 'year'):
        data.iloc[i,12] = int(age2[0]) * 52
    elif (age2[1] == 'months' or age2[1] == 'month'):
        data.iloc[i,12] = int(age2[0]) * 4
    else:
        data.iloc[i,12] = int(age2[0])

#print(data.head())

In [13]:
data = data.loc[(data["DateTime_y"] > data["DateTime_x"])]
data.shape
print(data)

       Animal ID              DateTime_x      Intake Type Intake Condition  \
0        A786884  01/03/2019 04:19:00 PM            Stray           Normal
2        A724273  04/14/2016 06:43:00 PM            Stray           Normal
3        A665644  10/21/2013 07:59:00 AM            Stray             Sick
4        A682524  06/29/2014 10:38:00 AM            Stray           Normal
5        A743852  02/18/2017 12:46:00 PM  Owner Surrender           Normal
...          ...                     ...              ...              ...
178299   A851458  02/12/2022 04:31:00 PM            Stray           Normal
178300   A851391  02/11/2022 11:19:00 AM            Stray           Normal
178301   A852148  02/25/2022 04:22:00 PM            Stray           Normal
178302   A850397  01/24/2022 08:00:00 AM            Stray          Injured
178303   A851459  02/12/2022 04:31:00 PM            Stray           Normal

       Animal Type_x Sex upon Intake Age upon Intake  \
0                Dog   Neutered Male             104
2                Dog     Intact Male              44
3                Cat   Intact Female               4
4                Dog   Neutered Male             208
5                Dog   Neutered Male             104
...              ...             ...             ...
178299           Dog   Intact Female             260
178300           Dog     Intact Male             364
178301           Dog     Intact Male             104
178302           Dog     Intact Male             104
178303           Dog     Intact Male             104

                                      Breed_x      Color_x  \
0                                  Beagle Mix     Tricolor
2                                 Basenji Mix  Sable/White
3                      Domestic Shorthair Mix       Calico
4       Doberman Pinsch/Australian Cattle Dog     Tan/Gray
5                      Labrador Retriever Mix    Chocolate
...                                       ...          ...
178299                   Miniature Poodle Mix   Gray/White
178300                               Shih Tzu   White/Gray
178301              Shih Tzu/Miniature Poodle  Black/White
178302               Cairn Terrier/Lhasa Apso        Cream
178303    Dachshund Longhair/Miniature Poodle  Cream/Brown

                    DateTime_y     Outcome Type Sex upon Outcome  \
0       01/08/2019 03:11:00 PM         Transfer    Neutered Male
2       04/21/2016 05:17:00 PM  Return to Owner    Neutered Male
3       10/21/2013 11:39:00 AM         Transfer    Intact Female
4       07/02/2014 02:16:00 PM  Return to Owner    Neutered Male
5       02/21/2017 05:44:00 PM  Return to Owner    Neutered Male
...                        ...              ...              ...
178299  02/16/2022 10:15:00 AM         Transfer    Intact Female
178300  02/15/2022 10:34:00 AM         Transfer      Intact Male
178301  03/02/2022 08:53:00 AM         Transfer    Neutered Male
178302  02/18/2022 10:10:00 AM         Transfer      Intact Male
178303  02/16/2022 10:16:00 AM         Transfer      Intact Male

       Age upon Outcome
0                   104
2                    52
3                     4
4                   208
5                   104
...                 ...
178299              260
178300              364
178301              104
178302              104
178303              104

[101755 rows x 13 columns]

## Data Prep ##

In [14]:
label_df = data['Outcome Type']
feature_df = data.drop(columns=['Outcome Type'])
label_df = label_df.values.ravel()
print("shape of feature data frame: ", feature_df.shape)
print("length of label data frame: " , len(label_df))
feature_df.head()

shape of feature data frame:  (101755, 12)
length of label data frame:  101755

,Animal ID,DateTime_x,Intake Type,Intake Condition,Animal Type_x,Sex upon Intake,Age upon Intake,Breed_x,Color_x,DateTime_y,Sex upon Outcome,Age upon Outcome
0,A786884,01/03/2019 04:19:00 PM,Stray,Normal,Dog,Neutered Male,104,Beagle Mix,Tricolor,01/08/2019 03:11:00 PM,Neutered Male,104
2,A724273,04/14/2016 06:43:00 PM,Stray,Normal,Dog,Intact Male,44,Basenji Mix,Sable/White,04/21/2016 05:17:00 PM,Neutered Male,52
3,A665644,10/21/2013 07:59:00 AM,Stray,Sick,Cat,Intact Female,4,Domestic Shorthair Mix,Calico,10/21/2013 11:39:00 AM,Intact Female,4
4,A682524,06/29/2014 10:38:00 AM,Stray,Normal,Dog,Neutered Male,208,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,07/02/2014 02:16:00 PM,Neutered Male,208
5,A743852,02/18/2017 12:46:00 PM,Owner Surrender,Normal,Dog,Neutered Male,104,Labrador Retriever Mix,Chocolate,02/21/2017 05:44:00 PM,Neutered Male,104

In [29]:
# we really tried... please ignore everything underneath this line
from sklearn.preprocessing import OneHotEncoder
y = OneHotEncoder().fit_transform(feature_df).toarray()
print(y)

from sklearn.preprocessing import LabelBinarizer
y = LabelBinarizer().fit_transform(feature_df['Breed_x'])
print(y)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [34]:
from sklearn.model_selection import train_test_split

def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    return(res)

train_feat, test_feat, train_label, test_label = train_test_split(feature_df, label_df, train_size = .8, test_size=.2)


res = encode_and_bind(train_feat, 'Intake Type')
    
print(res)

       Animal ID              DateTime_x      Intake Type Intake Condition  \
45360    A717217  12/04/2015 01:11:00 PM    Public Assist             Aged
84742    A767509  03/02/2018 01:28:00 PM            Stray           Normal
45285    A842547  09/17/2021 01:03:00 PM            Stray           Normal
148703   A787920  01/22/2019 02:49:00 PM  Owner Surrender           Normal
128378   A820987  08/02/2020 02:27:00 PM            Stray           Normal
...          ...                     ...              ...              ...
144740   A759977  10/10/2017 05:04:00 PM            Stray           Normal
36770    A771983  05/13/2018 11:14:00 AM  Owner Surrender           Normal
2862     A684717  07/27/2014 03:16:00 PM  Owner Surrender           Normal
161262   A700710  04/18/2015 02:37:00 PM            Stray           Normal
154153   A840375  08/06/2021 03:14:00 PM            Stray           Normal

       Animal Type_x Sex upon Intake Age upon Intake  \
45360            Dog   Intact Female             520
84742            Dog     Intact Male              32
45285            Dog   Intact Female             104
148703           Dog   Intact Female             156
128378           Dog   Intact Female               4
...              ...             ...             ...
144740           Dog   Intact Female              16
36770            Cat     Intact Male             156
2862             Cat     Intact Male              52
161262           Dog     Intact Male              36
154153           Dog         Unknown             104

                             Breed_x              Color_x  \
45360   German Shepherd/Collie Rough            Red/Black
84742        Chihuahua Shorthair Mix            Tan/Black
45285                  Dachshund Mix            Black/Red
148703                  Pit Bull Mix  Brown Brindle/White
128378           Anatol Shepherd Mix                Brown
...                              ...                  ...
144740        Labrador Retriever Mix                White
36770         Domestic Shorthair Mix          Brown Tabby
2862          Domestic Shorthair Mix                Black
161262       Chihuahua Shorthair Mix          Black/White
154153               German Shepherd            Black/Tan

                    DateTime_y Sex upon Outcome Age upon Outcome  \
45360   12/12/2015 11:13:00 AM    Intact Female              520
84742   03/08/2018 12:28:00 PM    Neutered Male               36
45285   09/28/2021 10:30:00 AM    Intact Female              104
148703  01/28/2019 03:39:00 PM    Intact Female              156
128378  08/12/2020 04:51:00 PM    Spayed Female                8
...                        ...              ...              ...
144740  10/15/2017 06:24:00 PM    Spayed Female               20
36770   05/24/2018 05:26:00 PM    Neutered Male              156
2862    09/04/2014 02:25:00 PM    Neutered Male               52
161262  04/30/2015 04:08:00 PM    Neutered Male               40
154153  08/06/2021 03:46:00 PM          Unknown              104

        Intake Type_Abandoned  Intake Type_Euthanasia Request  \
45360                       0                               0
84742                       0                               0
45285                       0                               0
148703                      0                               0
128378                      0                               0
...                       ...                             ...
144740                      0                               0
36770                       0                               0
2862                        0                               0
161262                      0                               0
154153                      0                               0

        Intake Type_Owner Surrender  Intake Type_Public Assist  \
45360                             0                          1
84742                             0                          0
45285                             0                          0
148703                            1                          0
128378                            0                          0
...                             ...                        ...
144740                            0                          0
36770                             1                          0
2862                              1                          0
161262                            0                          0
154153                            0                          0

        Intake Type_Stray  Intake Type_Wildlife
45360                   0                     0
84742                   1                     0
45285                   1                     0
148703                  0                     0
128378                  1                     0
...                   ...                   ...
144740                  1                     0
36770                   0                     0
2862                    0                     0
161262                  1                     0
154153                  1                     0

[81404 rows x 18 columns]